@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

body {
  font-family: "Itim", cursive;
}
h2 {
  font-weight: 700;
}
h4 {
  font-weight: 700;
}
.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #1a252f;
  border-radius: 1rem;
  border-color: #1a252f;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: #1a252f;
  font-size: 2rem;
}
.divider-custom.divider-prim .divider-custom-line {
  background-color: #5bc0de;
}
.divider-custom.divider-prim .divider-custom-icon {
  color: #5bc0de;
}

.scroll-to-top {
  right: 1rem;
  bottom: 1rem;
}
.scroll-to-top a {
  width: 3rem;
  height: 3rem;
  background-color: #1a252fb2;
  line-height: 3rem;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 900;
  background-color: #212529;
}
#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
  cursor: pointer;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #5bc0de;
  background-color: #212529;
}
#mainNav .navbar-toggler {
  font-size: 80%;
  font-weight: 800;
  padding: 0.8rem;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.25em;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    cursor: pointer;
    transition: height 0.3s, width 0.3s;
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    height: 58px;
    width: 228px;
  }
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

#drop-mn {
  background-color: #212529;
}

.masthead {
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;
}
.masthead .masthead-heading {
  font-size: 2.75rem;
  line-height: 2.75rem;
}
.masthead .masthead-subheading {
  font-size: 1.25rem;
}
.masthead .masthead-avatar {
  width: 15rem;
}

@media (min-width: 992px) {
  .masthead {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.5rem;
  }
}
.services .services-item {
  cursor: pointer;
  height: 205px;
  width: 320px;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.services .services-item:hover {
  transform: scale(0.9);
}

.services .services-item .services-item-caption {
  height: 205px;
  width: 320px;
  position: absolute;
  opacity: 0;
  background-color: #212529d5;
}

.services .services-item .services-item-caption:hover {
  opacity: 1;
}

.services .services-item .services-item-caption .services-item-caption-content {
  font-size: 1.5rem;
}

.floating-label {
  position: relative;
  border-bottom: 1px solid #e9ecef;
}
.floating-label input,
.floating-label textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
}
.floating-label label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  transition: top 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.close {
  float: right;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
.close:hover {
  color: #000;
  text-decoration: none;
}
.close:not(:disabled):not(.disabled):hover,
.close:not(:disabled):not(.disabled):focus {
  opacity: 0.75;
}

#vaccination {
  margin-top: 100px;
  padding: 30px;
}

#vaccination h2 {
  display: block;
  text-align: center;
}

#vaccination div {
  margin: 30px;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #212529;
  color: #fff;
}

.btn-social {
  border-radius: 40%;
  height: 55px;
  padding-top: 10px;
}

.copyright {
  background-color: #191b22;
}

/*Team Page*/

.bodyDesign {
  margin-top: 0;
  padding: 100px 0px;
  height: 100%;
  box-sizing: border-box;
}

.container-team {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;;
}

.our-team {
  background: #1a252f;
  text-align: center;
  overflow: hidden;
  position: relative;
  padding: 30px 0 40px;
  margin: 0px 20px;
  width: 30%;
}

.our-team .pic {
  display: inline-block;
  width: 130px;
  height: 130px;
  margin-bottom: 0px;
  z-index: 1;
  position: relative;
}

.our-team .pic::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background: #5bc0de;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.2;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .pic::before {
  height: 100%;
}

.our-team .pic:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #5bc0de;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .pic img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .team-content {
  margin-bottom: 30px;
}

.our-team .title {
  font-size: 22px;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.our-team .post {
  display: block;
  font-size: 15px;
  color: white;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #5bc0de;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  text-decoration: none;
  display: block;
  padding: 10px;
  font-size: 17px;
  color: #fff;
  transition: all 0.3s ease 0s;
}

.our-team .social li a:hover {
  color: #1785eb;
  background: #f7f5ec;
}

@media (max-width: 992px) {
  .our-team {
    width: 80%;
    margin-top: 30px;
  }
}

/*Services*/

.serviceHeading {
  font-weight: 600;
}

.fadeText {
  font-size: 25px;
  opacity: 0.77 !important;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  display: block;
}

.paraText {
  padding-bottom: 15px;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  display: block;
}

.image {
  float: left;
  display: block;
  box-sizing: border-box;
  text-align: left;
}

.wallText {
  box-sizing: border-box;
  display: block;
  text-align: left;
  font-size: 20px;
  padding-top: 20px;
}

.wall {
  float: left;
  width: 40%;
  display: block;
  margin-right: 1%;
}

.midSec {
  float: left;
  width: 100%;
  padding-top: 1rem;
  display: block;
  font-size: 1rem;
  font-weight: 400;
}

.packageSec {
  float: left;
  width: 45%;
  margin-right: 5%;
  display: block;
  font-size: 1rem;
  font-weight: 400;
}

.packageSec ul {
  padding-left: 1.2em;
  font-size: 16px;
  display: block;
}

.packageSec li {
  list-style: none;
  font-size: 16px;
}

.topSlider {
  float: left;
  width: 44%;
  margin-left: 3%;
  display: block;
}

.headSec {
  position: relative;
  margin-bottom: 20px;
  display: block;
}

.carousel-item.active {
  z-index: 1 !important;
}

.col-md-3 {
  max-width: 33% !important;
  flex: unset;
}

.hoverEffect {
  width: 90px;
  background: #fff;
  height: 80px;
  border-radius: 15px;
  box-shadow: 0 0 3px rgb(0 0 0 / 40%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-left: 5px;
  overflow: hidden;
}

.hoverEffect img {
  width: 65px;
  height: 65px;
}

img.img-fluid {
  transition: 0.6s;
}

.slide4_item h4 {
  color: #000000;
  font-size: 11px;
  margin-top: 10px;
  text-align: center;
  min-height: 70px;
}

.section {
  margin-bottom: 10%;
}


.form .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.form .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
}

.form .form .user-details {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

.form .user-details .input-box {
  display: inline-block;
  margin: 10px 10px;
  width: 46%;

}

.form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #5bc0de;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #5bc0de;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #1a252f;
}

.user-details .input-box select:focus,
.user-details .input-box select:valid {
  border-color: #1a252f;
}

.form .slot-details .slot-title {
  font-size: 20px;
  font-weight: 500;
}
.form .dose-details .dose-title {
  font-size: 20px;
  font-weight: 500;
}

.form .category {
  display: flex;
  width: 100%;
  margin: 14px 0;
  justify-content: space-around;
}

.form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form .category label .dot {
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three,
#dot-4:checked ~ .category label .four,
#dot-5:checked ~ .category label .five {
  border-color: #d9d9d9;
  background: #5bc0de;
}

.form input[type="radio"] {
  display: none;
}

.doses{
  display: flex;
  justify-content:flex-start !important;
}

.doses .dose{
  margin-right: 180px;
}

.button {
  height: 45px;
  width: 100%;
  margin: 20px 0;
}

.button button {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #5bc0de, #1a252f);
}

.button button:hover {
  background: linear-gradient(-135deg, #5bc0de, #1a252f);
}

.activer {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

.actively {
  top: 780px;
  left: 25%;
}
.actively1 {
  top: 1560px;
  left: 25%;
}
.actively2 {
  top: 2220px;
  left: 25%;
}

#buttonId,
#buttonId1,
#buttonId2 {
  display: none;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: absolute;
}

.my-modal {
  width: 50vw ;   /* Occupy the 90% of the screen width */
  max-width: 50vw;
} 
